version: '3.9'

services:
  db:
    image: postgres:14.10
    command:
      - 'postgres'
      - '-c'
      - 'max_connections=1000'
    shm_size: '4gb'
    container_name: integration-prisma
    restart: unless-stopped
    ports:
      - 5988:5432
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - gpt_net

  # web:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   ports:
  #     - '80:3000'
  #     - '443:3000'
  #   depends_on:
  #     - db
  #   env_file:
  #     - .env
  #   networks:
  #     - gpt_net

volumes:
  postgres_data:

networks:
  gpt_net:
    external: true
